@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover,a:focus,a:active{
    text-decoration: none;
    outline: none;
}

li{
    list-style: none;
}

/* Main Styles */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

header.header-menu{
    background-color:white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.17);
    padding: 10px 80px;
    height: 80px;
    position: relative;
}

.header-menu nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.header-menu__right-side{
    width: 100%;
}

.header-menu__right-side ul{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header-menu__right-side ul li{
    margin-left: 40px;
}

.header-menu__right-side ul li a{
    color: #333;
    display: inline-block;
    font-size: 16px;
    transition: color .2s ease-in-out;
}

.header-menu__right-side ul li a:hover{
    color: #9a69e1;
}


.header-menu__left-side{
    width: 100%;
}

.header-menu__left-side a.header-menu__logo-link{
    font-size: 16px;
    cursor: pointer;
    line-height: 30px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 700;
    color: #9a69e1;
}

.header-menu__left-side a.header-menu__logo-link i{
    width: 30px;
    height: 30px;
    background-color: #9a69e1;
    display: inline-block;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-style: normal;
}


.header-menu__search-icon a{
    background-color: #f7b7f3;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 30px 0;
    text-align: center;
    line-height: 50px;
    transition: background 0.1s linear;
    z-index: 2;
}

.header-menu__search-icon a:hover{
    background-color: #9a69e1;
}

.header-menu__search-icon.header-menu__search-icon--close a{
    background-color:#cc1561;
}

.header-menu__search-icon.header-menu__search-icon--close a:hover{
    background-color:#9b0e44;
}


.header-menu__search-icon span{
    width: 15px;
    height:15px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transform: rotate(40deg);
}

.header-menu__search-icon span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 8px;
    transform: translateY(-50%);
    height: 2px;
    background-color: #fff;
}

.header-menu__search-icon.header-menu__search-icon--close span{
    width: 2px;
    height: 18px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 0;
    position: relative;
    transform: rotate(40deg);
}

.header-menu__search-icon.header-menu__search-icon--close span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -9px;
    width: 18px;
    transform: translateY(-50%);
    height: 4px;
    background-color: #fff;
}

.header-menu__search-form{
    background-color: rgba(247,183,243,0.39);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 0;
    padding: 0;
    justify-content: center;
    transition: all 0.2s linear;
}


.header-menu__search-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header-menu__search-form.search-form-show{
    background-color: #fdc2f9;
    width: 100%;
    height: 100%;
    padding: 0 70px;
    border-radius: 0;
}

.header-menu__search-form input{
    background-color: transparent;
    height: 80%;
    background-color: #fdc2f9;
    background-image: linear-gradient(290deg,#fdc2f9 50%,#fffdfd 74%);
    border: none;
    outline: none;
    font-size: 30px;
    padding: 0 20px;
    display:none;
    border-radius: 8px;
}

.header-menu__search-form.search-form-show input{
display: block;
}












